body {
   background-color: rgb(85, 85, 83);
}
.jumbotron {
   background-color: #EAE7DC;
   color: #8E8D8A;
}

.btn {
   background-color: #E98074;
   opacity: .7;
}
.btn:hover {
   background-color: #E85A4F;
   opacity: 1.0;
   transition: 0.4s;
   padding: 10px 20px 10px 20px;
}

.fas {
   border: 5px solid rgb(85, 85, 83);
   background-color: rgb(85, 85, 83);
   color: #E85A4F;
   margin-right: 10px;
}

h1 {
   font-family: 'Varela', sans-serif;

   color: rgb(85, 85, 83);
}
a {
   text-decoration: none; /* no underline */
   color: #E85A4F;
}